.page {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    margin-left: 5px;
    cursor: pointer;
    user-select: none;
    width: 2em;
}

.all-films-box {
    margin-top: 60px;
}

.selectedPage {
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    margin-left: 5px;
    color: red;
    cursor: pointer;
    user-select: none;
    width: 2em;
}

.film-image {
    opacity: 1;

}

.text-box {
    margin-left: 20em;
    min-height: 500px;
}

.rating-item {
    padding: 0;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
}

.rating-num {
    font-size: 20px;
}

.rating-box {
    font-size: 16px;
    /*position: relative;*/
    /*width: 330px;*/
    height: 200px;
    margin-left: 0.5em;
    border: 1px solid gold;
    border-radius: 1em;
    padding: 0.5em;
    display: flex;
    /*float: right;*/
}

.behind-film-image-box {
    position: static;
    z-index: 1;
    /*width: 490px;*/
    /*height: 480px;*/
    /*margin-top: 0.5em;*/
    background: linear-gradient(90deg, black, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), black);
}

.card img {
    object-fit: fill;
    height: 20em;
}

.card-img-top:hover {
    opacity: 0.25;
}

.film-name {
    margin: 0 -1em;
    height: 19em;
    align-self: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: white;
    background: linear-gradient(180deg, white, black, black, black, white);
}

.film-description {
}

.card-box {
    width: 20%;
}

.genresAndRating {
    display: flex;
}

.main-box {
    display: flex;
}

@media (max-width: 1200px) {
    .card-box {
        width: 25%;
    }
}

@media (max-width: 1000px) {
    .card-box {
        width: 33.33%;
    }
}

@media (max-width: 800px) {
    .card-box {
        width: 50%;
    }

    .rating-box {
        font-size: 16px;
        width: 250px;
        height: 200px;
        margin-left: 0.5em;
        border: 1px solid gold;
        border-radius: 1em;
        padding: 0.5em;
        display: flex;
    }

    .genresAndRating {
        display: flex;
        flex-direction: column;
    }

    .text-box {
        margin-left: 0;
        /*margin-top: 500px;*/
    }

    .main-box {
        display: block;
    }

    .behind-film-image-box {
        position: static;
        z-index: 1;
        margin-top: 0.5em;
        background: linear-gradient(90deg, black, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), black);
    }

    .imageAndBehindBox {
        justify-self: center;
        width: 90vw;
        height: 500px;
        display: flex;
        justify-content: center;
    }

    .film-image {
        transform: translateX(-50%);
    }

}

@media (max-width: 500px) {
    .card-box {
        width: 100%;
    }
}