.icon {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 30px;
    top: 290px;
    fill: transparent;
    stroke: var(--border-color);
    stroke-width: 30;
}

:root {
    --border-color: white;
}

.heart-main {
    fill: transparent;
    z-index: 3;
}

.heart-background {
    fill: transparent;
    stroke: transparent;
    z-index: 2;
}

.heart-main,
.heart-background {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: transparent;
    padding: 8px;
    text-shadow: 5px 10px;
    position: absolute;
}

.icon svg {
    overflow: visible;
}

.heart-main:hover {
    fill: rgba(192, 192, 192, 0.3);
}

.heart-main:active {
    fill: white;
    width: 52px;
    height: 52px;
}

/*.icon path {*/
/*    stroke-dashoffset: 0;*/
/*    stroke-dasharray: 1550;*/
/*    transform-origin: center;*/
/*}*/

/*.heart-background {*/
/*    position: absolute;*/
/*    left: 0;*/
/*    right: 0;*/
/*    z-index: -1;*/
/*    stroke: none;*/
/*}*/

/*.heart-main:hover path {*/
/*    animation: stroke-animation 2s ease-in-out forwards;*/
/*}*/

/*.heart-main:hover,*/
/*.heart-background path {*/
/*    animation: fade-animation 2s ease-in-out forwards;*/
/*}*/

/*@keyframes stroke-animation {*/
/*    0% {*/
/*        stroke-dashoffset: 0;*/
/*    }*/
/*    30% {*/
/*        stroke-dashoffset: 1550;*/
/*    }*/
/*    60% {*/
/*        stroke-dashoffset: 3100;*/
/*        fill: transparent;*/
/*        transform: scale(1);*/
/*    }*/
/*    80% {*/
/*        fill: var(--pink);*/
/*        transform: scale(1.1);*/
/*    }*/
/*    90% {*/
/*        transform: scale(1);*/
/*    }*/
/*    100% {*/
/*        stroke-dashoffset: 3100;*/
/*        fill: var(--pink);*/
/*    }*/
/*}*/

/*@keyframes fade-animation {*/
/*    70% {*/
/*        fill: transparent;*/
/*        transform: scale(1);*/
/*    }*/
/*    80% {*/
/*        fill: var(--pink-light);*/
/*        transform: scale(1.1);*/
/*        opacity: 1;*/
/*    }*/
/*    90% {*/
/*        opacity: 1;*/
/*    }*/
/*    100% {*/
/*        transform: scale(2.5);*/
/*        opacity: 0;*/
/*    }*/
/*}*/
